@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700');

h3 {
    margin-bottom: 0;
}

.about-site {
    margin: 0;
    background-color:rebeccapurple;
    color: whitesmoke;
}

.input_fields_wrap {
    max-width: 350px;
}

.input_fields_wrap input[type=text] {
    width:100%;
    margin:2px 0;
}

.btn-small {
    height: 24px;
    width: 60px;
    line-height: 24px;
    margin: 5px 5px 5px 5px;
    padding: 0 0.5em;
}

.category_header {
    margin-top: 5px;
}

.newsletter-panel {
    margin-top: 70px;
    height: auto;
    box-shadow: 0 0 4px 0px black;
    background-color:rebeccapurple;
    color: whitesmoke;
}
.popular-image {
    width: 80%;
    height: auto;
    box-shadow: 0 0 4px 0px black;
}

.sponsored-image {
    width: 15%;
    height: auto;
    box-shadow: 0 0 4px 0px black;
}
sponsored-image-group
.temperature-input {
    padding: 0px;
    color: grey;
}



