@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700');

.btn_small {
    height: 24px;
    width: 60px;
    line-height: 24px;
    margin: 5px 5px;
    padding: 0 0.5em
}

.task_header {
    margin-top: 5px;
}