@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700');

.row {
    margin-bottom: 10px;
}

.centered {
    text-align: center;
}

h5 {
    color: rebeccapurple;
}

.welcome-message {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 24px;
    color: whitesmoke;
}

.row.margin-bottom-override {
    margin-bottom: 0;
}

.about-site {
    margin: 0;
    background-color:rebeccapurple;
    color: whitesmoke;
}

.input_fields_wrap {
    max-width: 350px;
}

.input_fields_wrap input[type=text] {
    width:100%;
    margin:2px 0;
}

.btn {
    background-color: rebeccapurple;
    color: whitesmoke;
}

.btn_small {
    background-color: rebeccapurple;
    color: whitesmoke;
    height: 24px;
    width: 100px;
    line-height: 24px;
    margin: 5px 5px 5px 5px;
    padding: 0 0.5em;
}

.category_header {
    margin-top: 5px;
}

.ingredients-panel {
    border-radius: 5px;    
    margin-left: 30px;
    margin-top: 0px;
    height: auto;
    box-shadow: 0 0 4px 0px black;
}

.newsletter-panel {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 18px;
    border-radius: 5px;    
    margin-top: 20px;
    box-shadow: 0 0 4px 0px black;
    background-color:rebeccapurple;
    color: whitesmoke;
}

.newsletter-text {
    text-align: center;
    font-size: 24px;
    padding-bottom: 15px;
}

.newsletter-text a {
    color: whitesmoke;
}

.popular-image {
    border-radius: 5px;    
    width: 100%;
    height: auto;
    box-shadow: 0 0 4px 0px black;
}

.sponsored-image {
    width: 15%;
    height: auto;
    margin-right: 10px;
    box-shadow: 0 0 4px 0px black;
}

.temperature-input {
    padding: 0px;
    color: grey;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .ingredients-panel, .newsletter-panel, .equipment-panel {
        border-radius: 0;
        margin: 0;
        box-shadow: none
    }

    .popular-image {
        margin-top: 5px;
        float: none;
        border-radius: 0;
    }
}
