{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col s12">
            <div class="sponsored-image-group">
                <p class="promotional-text">Our recommended quality ingredients and equipment will help you to baking success!</p>
                <a target="_blank" href="https://www.lakeland.co.uk/62118/Breville-Hand-Mixer-with-HeatSoft-Technology-VFM021"><img class="sponsored-image" src="https://lakelandcamel.scene7.com/is/image/LakelandCamel/62118_1?$325$" alt="Breville hand mixer VFM021"></a>
                <a target="_blank" href="https://www.dovesfarm.co.uk/products/freee/free-from-starter-kit-"><img class="sponsored-image" src="https://www.dovesfarm.co.uk/uploads/images/presets/product_page_full/product_images/Gifts/FREEE_GFStarterKit1.png" alt="Doves Farm gluten free starter kit."></a>
                <a target="_blank" href="https://www.lakeland.co.uk/70174/Lakeland+12+Hole+Shallow+Bun+Tin"><img class="sponsored-image" src="https://lakelandcamel.scene7.com/is/image/LakelandCamel/70174_1?$325$" alt="Lakeland 12 hole shallow bun tin"></a>
                <a target="_blank" href="https://www.bakerybits.co.uk/pocket-scale-jz115-115g-x-0-01g.html"><img class="sponsored-image" src="https://www.bakerybits.co.uk/pub/media/catalog/product/cache/a27d33cd83438b76412e07b8f57b4cbf/d/s/dsc_5266_2.jpg" alt="Pocket scale 115g x 0.01g."></a>
                <a target="_blank" href="https://www.dovesfarm.co.uk/products/org-strong-wholemeal-flour-x-15kg"><img class="sponsored-image" src="https://www.dovesfarm.co.uk/uploads/images/presets/product_page_full/product_images/DF%20Flours/DF_StrongWholemealBreadFlour.jpg" alt="Doves Farm strong wholemeal bread flour."></a>
                <a target="_blank" href="https://www.dovesfarm.co.uk/products/freee/gluten-free-baking-hamper"><img class="sponsored-image" src="https://www.dovesfarm.co.uk/uploads/images/presets/product_page_full/product_images/Gifts/FREEE_GFBakingHamper.jpg" alt="Doves Farm gluten free baking hamper"></a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <h5>Add recipe category</h5>
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <form action="{{ url_for('insert_recipe_category') }}" method="POST" class="col s12">
                <!-- CATEGORY NAME -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">poll</i>
                        <input id="category_name" name="category_name" type="text" class="validate" required>
                        <label for="icon_prefix">Category name</label>
                    </div>
                </div>

                <div class="row">
                    <div class="col s12">
                        <!-- ADD RECIPE BUTTON -->
                        <button class="btn waves-effect waves-light" type="submit" name="save">Add category
                            <i class="material-icons right">save</i>
                        </button>
                        <!-- CANCEL BUTTON -->
                        <button class="btn waves-effect waves-light btn_large" type="submit" name="no-save">Cancel
                            <i class="material-icons right">cancel</i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}