<!DOCTYPE html>
<html lang="en">

<head>
    <title>Baking Hot | Baking Recipes</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='css/style.css') }}" type="text/css" rel="stylesheet" />
</head>

<body>

    <!-- HEADER -->
    <header class="container-fluid">
        <div class="row">
            <div>
                <h2>Baking Hot! The No. 1 Spot For All Your Baking Recipes!</h2>
                <p>
                    We've got recipes for all sorts of baked goods here - bread, scones, cakes, savoury pies, 
                    fruit tarts...even Yorkshire pudding! Check out our recipes and get baking!</p>
                </p>
            </div>
        </div>
    </header>
    <!-- /.HEADER -->,, 


    <!-- MAIN -->
    <main class="container-fluid">
        {% block content %}
        {% endblock %}
    </main>
    <!-- /.MAIN -->

    <!-- JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>


</body>

</html>
