<!DOCTYPE html>
<html lang="en">

<head>
    <title>Baking Hot | Baking Recipes</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='css/style.css') }}" type="text/css" rel="stylesheet"/>
</head>

<body>
   
    <!-- NAVBAR -->
    <nav class="container-fluid">
        <div class="row">
            <div class="nav-wrapper col s12">
                <a href="{{ url_for('home') }}" class="brand-logo"><i class="material-icons left">wb_sunny</i>Baking Hot!</a>
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="{{ url_for('home') }}"><i class="material-icons left">home</i>Home</a></li>
                    <li><a href="{{ url_for('recipes') }}"><i class="material-icons left">assignment</i>Recipes</a></li>
                    <li><a href="{{ url_for('add_recipe') }}">Add a recipe</a></li>
                    <li><a href="{{ url_for('recipe_categories') }}">Recipe categories</a></li>
                </ul>
                <ul class="side-nav" id="mobile-demo">
                    <li><a href="{{ url_for('home') }}">Home</a></li>
                    <li><a href="{{ url_for('recipes') }}">Recipes</a></li>
                    <li><a href="{{ url_for('add_recipe') }}">Add a recipe</a></li>
                    <li><a href="{{ url_for('recipe_categories') }}">Recipe categories</a></li>
                </ul>
            </div>
        </div>
    </nav>
  
    <!-- MAIN -->
    <main class="container-fluid">
        {% block content %}
        {% endblock %}
    </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

    <script> 
        $(document).ready(function(){
            $('.collapsible').collapsible();
            $('select').material_select();
            $('.button-collapse').sideNav();
            $(".hide-recipe-button").click(function() {
                var txt = "INFORMATION: You are about to hide this recipe. You can display it again by restoring from the Archive page."
                alert(txt);
            });
        });
    </script>

    <script> 
        $("select[required]").css({display:"block", height:0, padding:0, width:0, position:'absolute'});
    </script>

    <script>
        $(document).ready(function() {
            var max_fields                = 12;
            var wrapper_ingredients       = $(".input_fields_wrap_ingredients"); 
            var wrapper_method            = $(".input_fields_wrap_method"); 
            var add_button_ingredients    = $(".add_field_button_ingredients");
            var add_button_method         = $(".add_field_button_method");
            var remove_button_ingredients = $(".remove_field_button_ingredients");
            var remove_button_method      = $(".remove_field_button_method");

            $(add_button_ingredients).click(function(e) {
                e.preventDefault();
                var total_fields_ingredients = wrapper_ingredients[0].children.length;
                if(total_fields_ingredients < max_fields) {
                    $(wrapper_ingredients).append('<input name="ingredients[]" type="text" class="field-long"/>');
                }
            });

            $(remove_button_ingredients).click(function(e) {
                e.preventDefault();
                var total_fields_ingredients = wrapper_ingredients[0].children.length;
                if(total_fields_ingredients > 1) {
                    console.log(total_fields_ingredients);
                    wrapper_ingredients[0].children[total_fields_ingredients - 1].remove();
                }
            });

            $(add_button_method).click(function(e) {
                e.preventDefault();
                var total_fields_method = wrapper_method[0].children.length;
                if(total_fields_method < max_fields) {
                    $(wrapper_method).append('<input name="method[]" type="text" class="field-long"/>');
                }
            });

            $(remove_button_method).click(function(e) {
                e.preventDefault();
                var total_fields_method = wrapper_method[0].children.length;
                if(total_fields_method > 1) {
                    wrapper_method[0].children[total_fields_method - 1].remove();
                }
            });
        });
    </script>

</body>

</html>
