{% extends 'base.html' %}
{% block content %}

<div class="container">

    <div class="row">
        <div class="col s12">
            <p><strong>New to baking? Let us help you get started with our recommended value-for-money baking products:</strong></p>
            <div class="sponsored-image-group">
                <a target="_blank" href="https://www.bakerybits.co.uk/round-cooling-wire-or-rack-28cm-diameter.html.html"><img class="sponsored-image" src="https://www.bakerybits.co.uk/pub/media/catalog/product/cache/d75b6ae133e4e6a4f65baca6ce75f963/w/i/wire_with_buns.jpeg" alt="Stainless steel round wire cooling rack, 28cm diameter."></a>
                <a target="_blank" href="https://www.lakeland.co.uk/6114/Chef%27s-Checks-Apron"><img class="sponsored-image" src="https://lakelandcamel.scene7.com/is/image/LakelandCamel/6114_1?$325$" alt="Chef's checks apron"></a>
                <a target="_blank" href="https://www.dovesfarm.co.uk/products/org-strong-wholemeal-flour-x-15kg"><img class="sponsored-image" src="https://www.dovesfarm.co.uk/uploads/images/presets/product_page_full/product_images/DF%20Flours/DF_StrongWholemealBreadFlour.jpg" alt="Doves Farm organic strong wholemeal bread flour 1.5kg."></a>
                <a target="_blank" href="https://www.dovesfarm.co.uk/products/quick-yeast-1x125g"><img class="sponsored-image" src="https://www.dovesfarm.co.uk/uploads/images/presets/product_page_full/product_images/DF_Yeast.jpg" alt="Doves Farm quick yeast 125g."></a>
                <a target="_blank" href="https://www.bakerybits.co.uk/chicago-metallic-professional-sheet-pans.html"><img class="sponsored-image" src="https://www.bakerybits.co.uk/pub/media/catalog/product/cache/d75b6ae133e4e6a4f65baca6ce75f963/d/s/dsc_3462_7_7.jpg" alt="Chicago metallic professional sheet pans."></a>
                <a target="_blank" href="https://noahsbox.com/products/baking-box?gclid=EAIaIQobChMIj-m5keeq5wIVTLTtCh23zQ0MEAQYASABEgLQ9_D_BwE#"><img class="sponsored-image" src="https://cdn.shopify.com/s/files/1/0068/1728/4155/products/Baking_Box_Noah_Advanced_900x.png?v=1574945600" alt="Baking box advanced starter kit."></a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <h5>Update a recipe</h5>
            <p>* = Required</p>
        </div>
    </div>

    <div class="row">
        <form action="{{ url_for('update_recipe', _id=recipe._id) }}" method="POST" class="col s12" id="recipe_form">
            <!-- RECIPE CATEGORY SELECT -->
            <div class="row">
                <div class="input-field col s6">
                    <i class="material-icons prefix">poll</i>
                    <select id="recipe_categories" name="category_name" required>
                        <option value="" disabled selected>Select recipe category</option>
                        {% for cat in recipe_categories %}
                            {% if cat.category_name == recipe.category %}
                                <option value="{{ cat.category_name }}" selected>{{ cat.category_name }}</option>
                            {% else %}
                                <option value="{{ cat.category_name }}">{{ cat.category_name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <label data-error="Select an option">Recipe category *</label>
                </div>
            </div>
            
            <!-- RECIPE TITLE -->
            <div class="row">
                <div class="input-field col s6">
                    <i class="material-icons prefix">assignment</i>
                    <label for="icon_prefix">Recipe title *</label>
                    <input id="title" name="title" type="text" class="validate" required="required" value="{{ recipe.title }}"/>
                </div>
            </div>

            <!-- RECIPE DESCRIPTION -->
            <div class="row">
                <div class="input-field col s6">
                    <i class="material-icons prefix">assignment</i>
                    <label for="icon_prefix">Recipe description (optional)</label>
                    <textarea id="description" name="description" class="materialize-textarea">{{ recipe.description }}</textarea>
                </div>
            </div>

            <!-- INGREDIENTS -->
            <div class="row">
                <div class="input-field col s4">
                    <i class="material-icons prefix">shopping_basket</i>
                    <label for="icon_telephone">Ingredients list *</label>
                    <br>
                </div>
            </div>
            <div class="row">
                <div class="col s8 offset-s1 input_fields_wrap_ingredients">
                    {% for ingredient in recipe.ingredients %}
                        <input name="ingredients[]" type="text" class="field-long" required="required" value="{{ ingredient }}"/>
                    {% endfor %}
                </div>
                <div class="col s8 offset-s1">
                    <button class="btn waves-effect waves-light add_field_button_ingredients" name="add_field_button_ingredients" type="button">Add</button>
                    <button class="btn waves-effect waves-light remove_field_button_ingredients" name="remove_field_button_ingredients" type="button">Remove</button>
                </div>        
            </div>        

            <!-- METHOD -->
            <div class="row">
                <div class="input-field col s4">
                    <i class="material-icons prefix">list</i>
                    <label for="icon_telephone">Method list *</label>
                    <br>
                </div>
            </div>
            <div class="row">
                <div class="col s8 offset-s1 input_fields_wrap_method">
                    {% for method in recipe.method %}
                        <input name="method[]" type="text" class="field-long" required="required" value="{{ method }}"/>
                    {% endfor %}
                </div>
                <div class="col s8 offset-s1">
                    <button class="btn waves-effect waves-light add_field_button_method" name="add_field_button_method" type="button">Add</button>
                    <button class="btn waves-effect waves-light remove_field_button_method" name="remove_field_button_method" type="button">Remove</button>
                </div>        
            </div>        

            <!-- EQUIPMENT -->
            <div class="row">
                <div class="input-field col s4">
                    <i class="material-icons prefix">restaurant_menu</i>
                    <label for="icon_telephone">Equipment list *</label>
                    <br>
                </div>
            </div>
            <div class="row">
                <div class="col s8 offset-s1 input_fields_wrap_equipment">
                    {% for equipment in recipe.equipment %}
                        <input name="equipment[]" type="text" class="field-long" required="required" value="{{ equipment }}"/>
                    {% endfor %}
                </div>
                <div class="col s8 offset-s1">
                    <button class="btn waves-effect waves-light add_field_button_equipment" name="add_field_button_equipment" type="button">Add</button>
                    <button class="btn waves-effect waves-light remove_field_button_equipment" name="remove_field_button_equipment" type="button">Remove</button>
                </div>        
            </div>        

            <!-- TEMPERATURE -->
            <div class="row">
                <div class="input-field col s6">
                    <i class="material-icons prefix">power_settings_new</i>
                    <label for="icon_telephone">Temperature *</label>
                    <br>
                </div>
            </div>
            <div class="row">
                <div class="col s11 offset-s1">
                    <p>Please select just one oven temperature setting (other settings will be shown automatically when viewing recipe).</p>
                    <div class="row">
                        <div class="col s1 temperature-input">
                            <input name="temperature_value" id="temperature_value" type="text" class="validate" required="required" value ="{{ temperature_value }}"/>
                        </div>        
                        <div class="col s10">
                            {% if user_temperature_type == 0 %}
                                {% set celsius_checked = "checked" %}
                            {% endif %}
                            {% if user_temperature_type == 1 %}
                                {% set celsius_fan_checked = "checked" %}
                            {% endif %}
                            {% if user_temperature_type == 2 %}
                                {% set fahrenheit_checked = "checked" %}
                            {% endif %}
                            {% if user_temperature_type == 3 %}
                                {% set gas_mark_checked = "checked" %}
                            {% endif %}
                            <!-- Note that 'name' attribute below must be identical to make the radio buttons -->
                            <!-- act as a group i.e. only one is selectable at a time. -->
                            <input class="with-gap" name="temperature_type" id="celsius" value="celsius" type="radio" {{ celsius_checked }}/>
                            <label for="celsius" style="margin-right:25px;">°C</label>
                            <input class="with-gap" name="temperature_type" id="celsius_fan" value="celsius_fan" type="radio" {{ celsius_fan_checked }}/>
                            <label for="celsius_fan" style="margin-right:25px;">°C (Fan)</label>
                            <input class="with-gap" name="temperature_type" id="fahrenheit" value="fahrenheit" type="radio" {{ fahrenheit_checked }}/>
                            <label for="fahrenheit" style="margin-right:25px;">°F</label>
                            <input class="with-gap" name="temperature_type" id="gas_mark" value="gas_mark" type="radio" {{ gas_mark_checked }}/>
                            <label for="gas_mark" style="margin-right:25px;">Gas Mark</label>
                        </div>        
                    </div>        
                </div>
            </div>

            <!-- COOKING TIME -->
            <div class="row">
                <div class="input-field col s8">
                    <i class="material-icons prefix">access_time</i>
                    <label for="icon_prefix">Cooking time (minutes) *</label>
                    <input id="cooking_time" name="cooking_time" type="text" class="validate" required="required" value="{{ recipe.cooking_time }}"/> 
                </div>
            </div>

            <!-- USER NAME / POSTED BY / UNUSED FIELDS / ETC (READ ONLY) -->
            <div class="row">
                <div class="col s12">
                    <label>Posted by {{ recipe.posted_by }} on {{ recipe.date_posted.strftime('%d/%m/%Y') }} at {{ recipe.date_posted.strftime('%H:%M') }}.</label>
                    <input hidden id="date_posted" name="date_posted" type="text" class="validate" value="{{ recipe.date_posted }}"/> 
                    <input hidden id="posted_by" name="posted_by" type="text" class="validate" value="{{ recipe.posted_by }}"/> 
                    <input hidden id="popular_recipe" name="popular_recipe" type="text" class="validate" value="{{ recipe.popular_recipe }}"/> 
                    <input hidden id="archived" name="archived" type="text" class="validate" value="{{ recipe.archived }}"/> 
                </div>
            </div>

            <div class="row">
                <div class="col s12">
                    <!-- UPDATE RECIPE BUTTON -->
                    <button class="btn waves-effect waves-light" type="submit" name="save">Update recipe
                        <i class="material-icons right">save</i>
                    </button>
                    <!-- CANCEL BUTTON -->
                    <button class="btn waves-effect waves-light btn_large" type="submit" name="no-save">Cancel
                        <i class="material-icons right">cancel</i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}