{% extends 'base.html' %}
{% block content %}

<h4>Update a recipe</h4>

<div class="row">
    <form action="{{ url_for('update_recipe', _id=recipe._id) }}" method="POST" class="col s12">

        <!-- RECIPE CATEGORY -->
        <div class="row">
            <div class="input-field col s6">
                <i class="material-icons prefix">poll</i>
                <select id="recipe_categories" name="category_name" required>
                    <option value="" disabled selected>Select recipe category</option>
                     {% for cat in recipe_categories %}
                        {% if cat.category_name == recipe.category %}
                            <option value="{{ cat.category_name }}" selected>{{ cat.category_name }}</option>
                        {% else %}
                            <option value="{{ cat.category_name }}">{{ cat.category_name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <label data-error="Select an option">Recipe category</label>
            </div>
        </div>
        
        <!-- RECIPE TITLE -->
        <div class="row">
            <div class="input-field col s6">
                <i class="material-icons prefix">assignment</i>
                <label for="icon_prefix">Recipe title</label>
                <input id="title" name="title" type="text" class="validate" required="required" value="{{ recipe.title }}"/>
            </div>
        </div>

        <!-- RECIPE DESCRIPTION -->
        <div class="row">
            <div class="input-field col s6">
                <i class="material-icons prefix">assignment</i>
                <label for="icon_prefix">Recipe description (optional)</label>
                <textarea id="description" name="description" class="materialize-textarea">{{ recipe.description }}</textarea>
            </div>
        </div>

        <!-- INGREDIENTS -->
        <div class="row">
            <div class="input-field col s4">
                <i class="material-icons prefix">kitchen</i>
                <label for="icon_telephone">Ingredients list:</label>
                <br>
            </div>
        </div>
        <div class="row">
            <div class="col s5 offset-s1 input_fields_wrap_ingredients">
                {% for ingredient in recipe.ingredients %}
                    <input name="ingredients[]" type="text" class="field-long" required="required" value="{{ ingredient }}"/>
                {% endfor %}    
            </div>
            <div class="col s4">
                <button class="btn waves-effect waves-light add_field_button_ingredients" name="add_field_button_ingredients" type="button">Add ingredient</button>
                <button class="btn waves-effect waves-light remove_field_button_ingredients" name="remove_field_button_ingredients" type="button">Remove ingredient</button>
            </div>        
        </div>        

        <!-- METHOD -->
        <div class="row">
            <div class="input-field col s4">
                <i class="material-icons prefix">subject</i>
                <label for="icon_telephone">Method list:</label>
                <br>
            </div>
        </div>
        <div class="row">
            <div class="col s5 offset-s1 input_fields_wrap_method">
                {% for method in recipe.method %}
                    <input name="method[]" type="text" class="field-long" required="required" value="{{ method }}"/>
                {% endfor %}
            </div>
            <div class="col s4">
                <button class="btn waves-effect waves-light add_field_button_method" name="add_field_button_method" type="button">Add method</button>
                <button class="btn waves-effect waves-light remove_field_button_method" name="remove_field_button_method" type="button">Remove method</button>
            </div>        
        </div>        

        <!-- TEMPERATURE -->
        <div class="row">
            <div class="input-field col s6">
                <i class="material-icons prefix">wb_sunny</i>
                <label for="icon_telephone">Temperature:</label>
                <br>
            </div>
        </div>
        <div class="row">
            <div class="col s12 offset-s1">
                <p>Please select just one oven temperature setting (other settings will be calculated automatically).</p>
                <div class="row">
                    <div class="col s1 temperature-input">
                        <input name="temperature_value" id="temperature_value" type="text" class="validate" required="required" value ="{{ temperature_value }}"/>
                    </div>        
                    <div class="col s10">
                        {% if user_temperature_type == 0 %}
                            {% set celsius_checked = "checked" %}
                        {% endif %}
                        {% if user_temperature_type == 1 %}
                            {% set celsius_fan_checked = "checked" %}
                        {% endif %}
                        {% if user_temperature_type == 2 %}
                            {% set fahrenheit_checked = "checked" %}
                        {% endif %}
                        {% if user_temperature_type == 3 %}
                            {% set gas_mark_checked = "checked" %}
                        {% endif %}
                        <!-- Note that 'name' attribute below must be identical to make the radio buttons -->
                        <!-- act as a group i.e. only one is selectable at a time. -->
                        <input class="temperature-radio-button with-gap" name="temperature-type" id="celsius" value="celsius" type="radio" {{ celsius_checked }}/>
                        <label for="celsius">°C</label>
                        <input class="temperature-radio-button with-gap" name="temperature-type" id="celsius-fan" value="celsius-fan" type="radio" {{ celsius_fan_checked }}/>
                        <label for="celsius-fan">°C (Fan)</label>
                        <input class="temperature-radio-button with-gap" name="temperature-type" id="fahrenheit" value="fahrenheit" type="radio" {{ fahrenheit_checked }}/>
                        <label for="fahrenheit">°F</label>
                        <input class="temperature-radio-button with-gap" name="temperature-type" id="gas-mark" value="gas-mark" type="radio" {{ gas_mark_checked }}/>
                        <label for="gas-mark">Gas Mark</label>
                    </div>        
                </div>        
            </div>
        </div>

        <!-- COOKING TIME -->
        <div class="row">
            <div class="input-field col s2">
                <i class="material-icons prefix">access_time</i>
                <label for="icon_prefix">Cooking time (minutes)</label>
                <input id="cooking_time" name="cooking_time" type="text" class="validate" required="required" value="{{ recipe.cooking_time }}"/> 
            </div>
        </div>

        <!-- USER NAME / POSTED BY (READ ONLY)  -->
        <div class="row">
            <div class="input-field s3">
                <i class="material-icons prefix">person</i>
                <label for="icon_prefix">Posted by {{ recipe.posted_by }} on {{ recipe.date_posted.strftime('%d/%m/%Y') }} at {{ recipe.date_posted.strftime('%H:%M') }}.</label>
                <br>
                <input hidden id="date_posted" name="date_posted" type="text" class="validate" value="{{ recipe.date_posted }}"/> 
                <input hidden id="posted_by" name="posted_by" type="text" class="validate" value="{{ recipe.posted_by }}"/> 
            </div>
        </div>

        <!-- UPDATE RECIPE BUTTON -->
        <div class="row">
            <button class="btn waves-effect waves-light" type="submit" name="action">Update recipe
                <i class="material-icons right">playlist_add</i>
            </button>
        </div>
    </form>

</div>

{% endblock %}