{% extends 'base.html' %}
{% block content %}

<div class="row">
	<div class="col s12 about-site">
        <h5>
            This is the place to get recipes for all your baking needs - bread, scones, cakes, savoury pies, 
            fruit tarts...even Yorkshire Pudding. Check out our recipes and get baking!
            You can even upload your own recipes here to keep them all in one place and share them with others.
        </h5>
	</div>
</div>

<div class="row">
	<div class="col s12">
		<p>New to baking? Let us help you get started with our recommended value-for-money baking products:</p>
        <div class="sponsored-image-group">
            <a href="https://www.bakerybits.co.uk/round-cooling-wire-or-rack-28cm-diameter.html.html"><img class="sponsored-image" src="https://www.bakerybits.co.uk/pub/media/catalog/product/cache/d75b6ae133e4e6a4f65baca6ce75f963/w/i/wire_with_buns.jpeg" alt=""></a>
            <a href="https://www.lakeland.co.uk/6114/Chef%27s-Checks-Apron"><img class="sponsored-image" src="https://lakelandcamel.scene7.com/is/image/LakelandCamel/6114_1?$325$" alt="Chef's checks apron"></a>
            <a href="https://www.dovesfarm.co.uk/products/org-strong-wholemeal-flour-x-15kg"><img class="sponsored-image" src="https://www.dovesfarm.co.uk/uploads/images/presets/product_page_full/product_images/DF%20Flours/DF_StrongWholemealBreadFlour.jpg" alt=""></a>
            <a href="https://www.dovesfarm.co.uk/products/quick-yeast-1x125g"><img class="sponsored-image" src="https://www.dovesfarm.co.uk/uploads/images/presets/product_page_full/product_images/DF_Yeast.jpg" alt=""></a>
            <a href="https://www.bakerybits.co.uk/chicago-metallic-professional-sheet-pans.html"><img class="sponsored-image" src="https://www.bakerybits.co.uk/pub/media/catalog/product/cache/d75b6ae133e4e6a4f65baca6ce75f963/d/s/dsc_3462_7_7.jpg" alt=""></a>
            <a href="https://www.lakeland.co.uk/32250/Children%E2%80%99s-10pc-Baking-Gift-Set-with-Bowl%2C-Whisk-and-Spatula-"><img class="sponsored-image" src="https://lakelandcamel.scene7.com/is/image/LakelandCamel/32250_2?$325$" alt=""></a>
            
        </div>
	</div>
</div>

<div class="row">
	<div class="col s12">
		<h3>Recipe of the Day: {{ recipe.title }}</h3>
	</div>
</div>

<div class="row">
	<div class="col s6">
		<p>{{ recipe.description }}</p>
	</div>
</div>

<div class="row">
	<div class="col s6">
        <img src="{{ recipe.image_source }}" alt="Traditional White Loaf">
	</div>
</div>

<div class="row">
	<div class="col s12">
		<h5>Ingredients</h5>
        {% for ingredient in recipe.ingredients %}
		    <p>{{ ingredient }}</p>
        {% endfor %}   
	</div>
</div>

<div class="row">
    <div class="col s12">
		<h5>Method</h5>
        {% for method_item in recipe.method %}
		    <p>{{ method_item }}</p>
        {% endfor %}   
	</div>
</div>

<div class="row">
	<div class="col s12">
		<h5>Equipment</h5>
        {% for equipment_item in recipe.equipment %}
		    <p>{{ equipment_item }}</p>
        {% endfor %}
	</div>
</div>

<div class="row">
	<div class="col s12">
		<h5>Need some baking equipment? Check out these cool tools!</h5>
        <div class="sponsored-image-group">
            <a href=""><img class="sponsored-image" src="https://www.bakerybits.co.uk/pub/media/catalog/product/cache/d75b6ae133e4e6a4f65baca6ce75f963/d/s/dsc_3096_5_4.jpg" alt=""></a>
            <a href=""><img class="sponsored-image" src="https://lakelandcamel.scene7.com/is/image/LakelandCamel/32210_1?$325$" alt=""></a>
            <a href=""><img class="sponsored-image" src="https://www.bakerybits.co.uk/pub/media/catalog/product/cache/d75b6ae133e4e6a4f65baca6ce75f963/s/i/side_shot_1lb_tin__4.jpg" alt=""></a>
            <a href="https://www.lakeland.co.uk/14286/Lakeland-Digital-Kitchen-Weighing-Scale"><img class="sponsored-image" src="https://lakelandcamel.scene7.com/is/image/LakelandCamel/14286_2?$325$" alt="Lakeland stainless steel digital kitchen scales"></a>
            <a href="https://www.lakeland.co.uk/70261/Pyrex-0-5L-Measuring-Jug"><img class="sponsored-image" src="https://lakelandcamel.scene7.com/is/image/LakelandCamel/70261_1?$325$" alt="Pyrex measuring jug 0.5 litre"></a>
        
        </div>
	</div>
</div>

<div class="row">
	<div class="col s12">
		<h5>Temperature</h5>
		<p>
            {{ recipe.temperature.celsius }}˚C,  
            Fan {{ recipe.temperature.celsius_fan }}˚C, 
            {{ recipe.temperature.fahrenheit }}˚F, 
            Gas Mark {{ recipe.temperature.gas_mark }}
        </p>
	</div>
</div>

<div class="row">
	<div class="col s12">
    	<h5>Cooking time</h5>
		<p>{{ recipe.cooking_time }} minutes</p>
	</div>
</div>

<div class="row">
	<div class="col s12">
    	<p><strong><em>Recipe posted by:</strong> {{ recipe.posted_by }} on {{ recipe.date_posted }}</em></p>
	</div>
</div>

<div class="row">
	<div class="col s12">
		<h5>Reviews</h5>
        {% for review in recipe.reviews %}
            {% if review.review_text is not defined %}
                <p><em>No reviews for this recipe yet. Would you like to be the first to review it?</em></p>
            {% else %}
		        <p>{{ review.review_text }}</p>
		        <p><strong><em>Review posted by:</strong> {{ review.reviewed_by }} on {{ review.review_date }}</em></p>
            {% endif %}    
		{% endfor %}
	</div>
</div>

{% endblock %}