{% extends 'base.html' %}

{% block content_home %}
<h5>
    This is the place to get recipes for all your baking needs - bread, scones, cakes, savoury pies, 
    fruit tarts...even Yorkshire pudding. Check out our recipes and get baking!</p>
</h5>
{% endblock %}

{% block content %}

<div class="row">
	<div class="col s12">
		<h3>Recipe of the Day: {{ recipe.title }}</h3>
	</div>
</div>

<div class="row">
	<div class="col s6">
		<p>{{ recipe.description }}</p>
	</div>
</div>

<div class="row">
	<div class="col s6">
        <img src="{{ recipe.image_source }}" alt="Traditional White Loaf">
	</div>
</div>

<div class="row">
	<div class="col s12">
		<h5>Ingredients</h5>
        {% for ingredient in recipe.ingredients %}
		    <p>{{ ingredient }}</p>
        {% endfor %}   
	</div>
</div>

<div class="row">
    <div class="col s12">
		<h5>Method</h5>
        {% for method_item in recipe.method %}
		    <p>{{ method_item }}</p>
        {% endfor %}   
	</div>
</div>

<div class="row">
	<div class="col s12">
		<h5>Equipment</h5>
        {% for equipment_item in recipe.equipment %}
		    <p>{{ equipment_item }}</p>
        {% endfor %}
	</div>
</div>

<div class="row">
	<div class="col s12">
		<h5>Need some baking equipment? Check out these cool tools!</h5>
        <div class="sponsored-image-group">
            <a href=""><img class="sponsored-image" src="https://www.bakerybits.co.uk/pub/media/catalog/product/cache/d75b6ae133e4e6a4f65baca6ce75f963/d/s/dsc_3096_5_4.jpg" alt=""></a>
            <a href=""><img class="sponsored-image" src="https://lakelandcamel.scene7.com/is/image/LakelandCamel/32210_1?$325$" alt=""></a>
            <a href=""><img class="sponsored-image" src="https://www.bakerybits.co.uk/pub/media/catalog/product/cache/d75b6ae133e4e6a4f65baca6ce75f963/s/i/side_shot_1lb_tin__4.jpg" alt=""></a>
        </div>
	</div>
</div>

<div class="row">
	<div class="col s12">
		<h5>Temperature</h5>
		<p>
            {{ recipe.temperature.celsius }}˚C,  
            Fan {{ recipe.temperature.celsius_fan }}˚C, 
            {{ recipe.temperature.fahrenheit }}˚F, 
            Gas Mark {{ recipe.temperature.gas_mark }}
        </p>
	</div>
</div>

<div class="row">
	<div class="col s12">
    	<h5>Cooking time</h5>
		<p>{{ recipe.cooking_time }} minutes</p>
	</div>
</div>

<div class="row">
	<div class="col s12">
    	<p><strong><em>Recipe posted by:</strong> {{ recipe.posted_by }} on {{ recipe.date_posted }}</em></p>
	</div>
</div>

<div class="row">
	<div class="col s12">
		<h5>Reviews</h5>
        {% for review in recipe.reviews %}
            {% if review.review_text is not defined %}
                <p><em>No reviews for this recipe yet. Would you like to be the first to review it?</em></p>
            {% else %}
		        <p>{{ review.review_text }}</p>
		        <p><strong><em>Review posted by:</strong> {{ review.reviewed_by }} on {{ review.review_date }}</em></p>
            {% endif %}    
		{% endfor %}
	</div>
</div>

{% endblock %}

