{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col s12">
            <div class="sponsored-image-group">
                <p class="promotional-text">Make baking easier with our recommended quality ingredients and baking equipment!</p>
                <a href="https://www.lakeland.co.uk/70174/Lakeland+12+Hole+Shallow+Bun+Tin"><img class="sponsored-image" src="https://lakelandcamel.scene7.com/is/image/LakelandCamel/70174_1?$325$" alt="Lakeland 12 hole shallow bun tin"></a>
                <a href="https://www.dovesfarm.co.uk/products/org-strong-wholemeal-flour-x-15kg"><img class="sponsored-image" src="https://www.dovesfarm.co.uk/uploads/images/presets/product_page_full/product_images/DF%20Flours/DF_StrongWholemealBreadFlour.jpg" alt="Doves Farm strong wholemeal bread flour."></a>
                <a href="https://www.dovesfarm.co.uk/products/freee/gluten-free-baking-hamper"><img class="sponsored-image" src="https://www.dovesfarm.co.uk/uploads/images/presets/product_page_full/product_images/Gifts/FREEE_GFBakingHamper.jpg" alt="Doves Farm gluten free baking hamper"></a>
                <a href="https://www.lakeland.co.uk/32331/Children%27s-Star-Apron"><img class="sponsored-image" src="https://lakelandcamel.scene7.com/is/image/LakelandCamel/32331_1?$325$" alt="Children's star apron."></a>
                <a href="https://www.dovesfarm.co.uk/products/freee/free-from-starter-kit-"><img class="sponsored-image" src="https://www.dovesfarm.co.uk/uploads/images/presets/product_page_full/product_images/Gifts/FREEE_GFStarterKit1.png" alt="Doves Farm gluten free starter kit."></a>
                <a href="https://www.bakerybits.co.uk/pocket-scale-jz115-115g-x-0-01g.html"><img class="sponsored-image" src="https://www.bakerybits.co.uk/pub/media/catalog/product/cache/a27d33cd83438b76412e07b8f57b4cbf/d/s/dsc_5266_2.jpg" alt="Pocket scale 115g x 0.01g."></a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <h5>Recipe categories</h5>
        </div>
    </div>

    <div class="row">
        <ul class="collapsible" data-collapsible="accordion">
            {% for recipe_category in recipe_categories %}
            <li>
                <div class="collapsible-header">
                    <div class="category_header col s3">
                        <strong>{{ recipe_category.category_name }}</strong>
                    </div>
                    <div class="col s9">
                        <!-- DELETE and EDIT buttons for category -->
                        <a href="{{ url_for('edit_recipe_category', recipe_category_id=recipe_category._id) }}" class="waves-effect waves-light btn btn_small">Update</a>              
                        <a href="{{ url_for('delete_recipe_category', recipe_category_id=recipe_category._id) }}" class="waves-effect waves-light btn btn_small red">Delete</a>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>

    <div class="row">
        <div class="col s12">
            <!-- ADD CATEGORY button -->
            <a href="{{ url_for('add_recipe_category') }}" class="waves-effect waves-light btn"><i class="material-icons right">playlist_add</i>Add recipe category</a>
        </div>
    </div>
</div>

{% endblock %}