{% extends 'base.html' %}
{% block content %}

<div class="row">
	<div class="col s12">
		<p>Looking for quality ingredients or baking equipment? Or something for the kids? Check out these!</p>
        <div class="sponsored-image-group">
            <a href="https://www.bakerybits.co.uk/round-cooling-wire-or-rack-28cm-diameter.html.html"><img class="sponsored-image" src="https://www.bakerybits.co.uk/pub/media/catalog/product/cache/d75b6ae133e4e6a4f65baca6ce75f963/w/i/wire_with_buns.jpeg" alt=""></a>
            <a href="https://www.lakeland.co.uk/32331/Children%27s-Star-Apron"><img class="sponsored-image" src="https://lakelandcamel.scene7.com/is/image/LakelandCamel/32331_1?$325$" alt=""></a>
            <a href="https://www.dovesfarm.co.uk/products/org-strong-wholemeal-flour-x-15kg"><img class="sponsored-image" src="https://www.dovesfarm.co.uk/uploads/images/presets/product_page_full/product_images/DF%20Flours/DF_StrongWholemealBreadFlour.jpg" alt=""></a>
            <a href="https://www.dovesfarm.co.uk/products/quick-yeast-1x125g"><img class="sponsored-image" src="https://www.dovesfarm.co.uk/uploads/images/presets/product_page_full/product_images/DF_Yeast.jpg" alt=""></a>
            <a href="https://www.bakerybits.co.uk/chicago-metallic-professional-sheet-pans.html"><img class="sponsored-image" src="https://www.bakerybits.co.uk/pub/media/catalog/product/cache/d75b6ae133e4e6a4f65baca6ce75f963/d/s/dsc_3462_7_7.jpg" alt=""></a>
            <a href="https://www.lakeland.co.uk/32250/Children%E2%80%99s-10pc-Baking-Gift-Set-with-Bowl%2C-Whisk-and-Spatula-"><img class="sponsored-image" src="https://lakelandcamel.scene7.com/is/image/LakelandCamel/32250_2?$325$" alt=""></a>
            
        </div>
	</div>
</div>

<div class="row">
	<div class="col s12">
        <h4>Recipe categories</h4>
        <ul class="collapsible" data-collapsible="accordion">
            {% for recipe_category in recipe_categories %}
            <li>
                <div class="collapsible-header">
                    <!-- DELETE and EDIT buttons for category -->
                    <a href="{{ url_for('delete_recipe_category', recipe_category_id = recipe_category._id) }}" class="waves-effect waves-light btn btn_small">Delete</a>
                    <a href="{{ url_for('edit_recipe_category', recipe_category_id = recipe_category._id) }}" class="waves-effect waves-light btn btn_small blue">Edit</a>              
                    <div>
                        <strong>{{recipe_category.category_name}}</strong>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>

<div class="row">
	<div class="col s12">
        <a href="{{ url_for('add_recipe_category') }}" class="waves-effect waves-light btn"><i class="material-icons right">playlist_add</i>Add recipe category</a>
    </div>
</div>

{% endblock %}