{% extends 'base.html' %}
{% block content %}

<div class="row">
    <ul class="collapsible" data-collapsible="accordion">
        {% for recipe in recipes %}
        <li>
            <div class="collapsible-header">
               <div class="col s1">
                    <i class="material-icons">expand_more</i>
                </div>
                <div class="task_header col s9">
                    <span>Type: {{recipe.type}} - <strong>{{recipe.title}}</strong></span>
                </div>
            </div>
            <div class="collapsible-body">
                <p>
                   {{recipe.description}}
                </p>
                <span>Posted by {{recipe.posted_by}} on {{recipe.date_posted}}</span>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>

{% endblock %}
